*{
    margin: 0;
    padding: 0;
}

:root{
--pale-blue: hsl(243, 100%, 93%);
--grayish-blue: hsl(229, 7%, 55%);
--dark-blue: hsl(228, 56%, 26%);
--very-dark-blue: hsl(229, 57%, 11%);
}


body{
    background: url(Images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom -750px left 0px;
    background-color: var(--very-dark-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.container{
    background-color: var(--dark-blue);
    width: 271px;
    height: 110px;
    padding: 35px;
    border-radius:10px 99px 10px 10px ;
    
}


.doc{
    background-color: var(--very-dark-blue);
    padding: 13px 18px;
    border-radius: 15px;
}
.folder{
    background-color: var(--very-dark-blue);
    padding: 15px;
    border-radius: 15px;
}
.upload{
    background-color: var(--very-dark-blue);
    padding: 17px;
    border-radius: 15px;
}

.icons{
    padding-top: 30px;
    
}





